#heading {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
}

#kickass {
    position: absolute;
    bottom: 0%;
    left: 97%;
}