body {
    background-image: url("../media/images/assault_background.png");
    background-size: 100%;
}

img {
    width: 10%;
    height: auto;
}

img:hover {
    cursor: pointer;
    opacity: 0.8;
}

button:hover {
    cursor: pointer;
}

#heading:hover {
    color: dodgerblue;
}


#heading {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
    text-align: center;
    padding: 50px;
    display: block;
}

#stratBox {
    background-color: grey;
    width: 30%;
    height: 20%;
}

#stratHeading {
    font-size: 200%;
    color:white;
    font-weight: bold;
    margin-left: 1%;
    text-align: center;
}

#stratAnswer {
    font-size: 120%;
    color: white;
    margin-left: 1%;
}


#kickass {
    position: absolute;
    bottom: 0%;
    left: 97%;
}