img {
    width: 10%;
    height: auto;
}

img:hover {
    cursor: pointer;
    opacity: 0.8;
}

button:hover {
    cursor: pointer;
}

#stratBox {
    background-color: rgba(100,100,100,0.4);
    box-shadow: 0 0 2px 1px black;
    width: 30%;
    height: 20%;
    margin-top: 3%;
    margin-right: auto;
    margin-left: auto;
}

#buttons {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

#stratHeading {
    font-size: 200%;
    color:white;
    text-shadow: 1px 1px black;
    font-weight: bold;
    margin-left: 1%;
    text-align: center;
}

#stratAnswer {
    font-size: 120%;
    color: white;
    text-shadow: 1px 1px black;
    margin-left: 1%;
}

#ctButton {
    margin-right: 2%;
}