img {
    width: 10%;
    height: auto;
}

img:hover {
    cursor: pointer;
    opacity: 0.8;
}

button:hover {
    cursor: pointer;
}

#buttons {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}