img {
    width: 10%;
    height: auto;
}

img:hover {
    cursor: pointer;
    opacity: 0.8;
}

button:hover {
    cursor: pointer;
}

#stratBox {
    background-color: grey;
    width: 30%;
    height: 20%;
}

#stratHeading {
    font-size: 200%;
    color:white;
    font-weight: bold;
    margin-left: 1%;
    text-align: center;
}

#stratAnswer {
    font-size: 120%;
    color: white;
    margin-left: 1%;
}